header{
    width: 100%;
    height: 110px;
    background-color:#d8bfd8;
    background-image: url(https://abrakadabra.fun/uploads/posts/2022-02/1645600755_1-abrakadabra-fun-p-fon-goluboi-gradient-nezhnii-2.jpg);
}
h1{
    text-align: center;
}
.title{
    margin:0;
    padding:0;
    font-size: 50px;
    font-family: serif ;
    padding-top: 0;
    line-height:110px;
    float: left;
}
    
#logo {
    width: 110px;
    height: 110px;
    float: left;
    margin-right: 10px;
}

 nav{
    width:100%;
    text-align: center; /* пункты и текст горизонтально по центру */
    background-color: #c9b2c9;
    padding-top: 0%;
}
#menu li{
    display:block; 
    text-align: center;
}
#menu, #menu li {
    margin: 0; /* убрать внутренние отступы */
    padding: 0; /* убрать внешние отступы */
}
#menu a {
    margin:10px;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
}
#menu a:hover {
    background: #e6b8f0; /* фон пунктов при наведении */
}
.block{
   display: flex;
   flex-direction: column;
   width:100%;
   justify-content: stretch;
   align-items: center;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width:100%;
     order: 2;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    height:50px;
    text-align: center;
}
th{
    background-color: #eebef1;
}
tr:nth-child(even){
    background-color: #d7d7d7;
}
footer{
    width: 100%;
    height: 110px;
    background-color:#d8bfd8;
    background-image: url(https://abrakadabra.fun/uploads/posts/2022-02/1645600755_1-abrakadabra-fun-p-fon-goluboi-gradient-nezhnii-2.jpg);
    margin: 0;
    padding:0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 0;
    line-height: 100px;
}
.form{
    display: flex;
   flex-direction: column;
   align-items: center;
    order:1;
}
.form-decor{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    width: auto;
    border:3px solid black;
    margin:0;
}
@media  (min-width: 1080px) {
    .header{
        width: 960px;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    nav{
        text-align: center; /* пункты и текст горизонтально по центру */
        background-color: #c9b2c9;
        padding-top: 0%;
    }
    ul#menu li{
        display:inline-block;
        text-align: center;
    }
    #menu, #menu li {
        margin: 0; /* убрать внутренние отступы */
        padding: 0; /* убрать внешние отступы */
    }
    #menu a {
        margin:10px;
        padding: 10px 10px; /* задаем внутренние отступы */
        color: #fff; /* цвет текста */
        text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
    }
    #menu a:hover {
        background: #e6b8f0; /* фон пунктов при наведении */
    }
    .block{
        width:960px;
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
     .block h1{
        text-align: center;
     }
     table{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:auto;
        order:1;
    }
    table, th, td{
        height: 50px;
        text-align: center;
        border-collapse:collapse;
        border: 1px solid black;
    }
    th{
        background-color: #eebef1;
    }
    tr:nth-child(even){
        background-color: #d7d7d7;
    }
    .form{
        padding: 5px;
        position: relative;
        order:2;
    }
    .form-decor{
        width: auto;
        border:3px solid black;
        font-size: medium;
        margin:0;
        font-family: 'Times New Roman', Times, serif;
    }
    footer{
        width: 100%;
        height: 110px;
        background-color:#d8bfd8;
        background-image: url(https://abrakadabra.fun/uploads/posts/2022-02/1645600755_1-abrakadabra-fun-p-fon-goluboi-gradient-nezhnii-2.jpg);
    }
    .footer{
        margin: 0;
        padding:0;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 0;
        line-height: 100px;
    }
   
}
