.photo{
    width:200px;
    height:200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body{
    font-family:'Times New Roman', Times, serif;
    padding:60px;
    background-color:#d1b7a5 ;
}
