header{
    width: 100%;
    height: 90px;
    background-color:#d8bfd8;
    background-image: url(https://abrakadabra.fun/uploads/posts/2022-02/1645600755_1-abrakadabra-fun-p-fon-goluboi-gradient-nezhnii-2.jpg);
}
.title{
    font-size: 30px;
    font-family: serif ;
    padding-top: 20px;
    text-align:center;
}
    
#logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    }
    

