header{
    width: 100%;
    height: 90px;
    background-color:#d8bfd8;
    background-image: url(https://abrakadabra.fun/uploads/posts/2022-02/1645600755_1-abrakadabra-fun-p-fon-goluboi-gradient-nezhnii-2.jpg);
}
.title{
    font-size: 30px;
    font-family: serif ;
    padding-top: 20px;
    text-align:center;
}
    
#logo {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 10px;
    }
ul#menu li{
    display:inline-block; 
    text-align: center;
}
#menu, #menu li {
    margin: 0; /* убрать внутренние отступы */
    padding: 0; /* убрать внешние отступы */
}
#menu a {
    padding: 10px 25px; /* задаем внутренние отступы */
    color: #fff; /* цвет текста */
    text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
}
#menu{

    text-align: center; /* пункты и текст горизонтально по центру */
    background: #c9b2c9;
}
#menu a:hover {
    background: #e6b8f0; /* фон пунктов при наведении */
}
