.form{
    text-align: center;
    background-color: antiquewhite ;
    background-image: url(https://domsaiver.ru/upload/iblock/140/1b259116-2b54-11ec-558e-c412f5348570_1ba2e990-2b54-11ec-558e-c412f5348570.jpg);
}
