.form{
    text-align: center;
    background-color: antiquewhite ;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612742726_178-p-goluboi-fon-soft-estetika-206.jpg);
}
