body {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
}


.osnova {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  background-color: #000;
  z-index: 1000;/*уровень эл-та, регулирует порядок перперытия эл-та*/
}

@media screen and (min-width: 768px) {
  .osnova {
    position: absolute;/*эл-т позиционируется заново, ширина устанавливается по содержимому, размер лока по содеожимому*/
    bottom: auto;
    top: 30px;
    background-color: unset;
  }
}

.logo {
  width: 160px;
  margin-right: 60px;
  margin-left: 15px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
  padding-bottom: 6px;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

.navbar-nav {
  flex-wrap: wrap;/*несколько линий*/
}

@media screen and (min-width: 768px) {
  .logo {
    width: 175px;
    margin-left: auto;
  }
  .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar li.nav-item a.nav-link {
  padding: 8px 20px;
  border-bottom: 1px solid #312a2a;
  line-height: 22px;
  font-size: 12px;
  font-style: normal;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .navbar li.nav-item  a.nav-link {
    padding: 0;
    border-bottom: unset;
    line-height: unset;
  }
}

.navbar li {
  border: none;
  transition: border-color 400ms;
  margin-right: 27px;
}

.navbar li:hover {
  border: none;
}

@media screen and (min-width: 768px) {
  .navbar li {
    border-top: 8px solid transparent;
    border-bottom: 3px solid transparent;
  }
  .navbar li:hover {
    border-top: 8px solid transparent;
    border-bottom: 3px solid #f14d34;
  }
}

.collapse {
  border-bottom: solid 1px #fff;
  overflow-y: auto;
  max-height: calc(100vh - 49px);
}

@media screen and (min-width: 768px) {
  .collapse {
    order: 1;
    border-bottom: unset;
    max-height: unset;
    overflow-y: unset;
  }
}


nav .dropdown-menu {
  display: block;
  position: static;
  background-color: inherit;
  padding: 0;
  font-size: 12px;
  border-radius: 0;
  border: none;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  nav .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    position: unset;
    background-color: #f14d34;
    padding: unset;
  }
}

@media screen and (min-width: 768px) {
  nav .dropdown-menu-second {
    min-width: 120px;
  }
}


nav .dropdown-item {
  color: #fff;
  transition: all 400ms;
  padding: 8px 20px 8px 35px;
  font-weight: 500;
  border-bottom: 1px solid #312a2a;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  nav .dropdown-item {
    padding: 3px 20px;
    border-bottom: unset;
    line-height: unset;
  }
}

@media screen and (min-width: 768px) {
  .dropdown-menu-second .dropdown-item {
    width: 135px;
    padding-right: initial;
  }
}


nav .dropdown-item:hover, nav .dropdown-item:focus {
  color: #f14d34;
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  nav .dropdown-item:hover, nav .dropdown-item:focus {
    color: #fff;
    background-color: #d13018;
  }
  nav .nav-item.dropdown:hover .dropdown-menu {
    max-height: 150px;
  }
}

.navbar-toggler-icon {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(136,136,136,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") no-repeat;
}

.navbar-toggler {
  margin-top: 1px;
}

.navbar li.nav-item a.nav-link:hover, .navbar li.nav-item a.nav-link:focus {
  color: #f14d34;
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .navbar li.nav-item  a.nav-link:hover, .navbar li.nav-item a.nav-link:focus {
    color: #fff;
  }
}


.navbar-brand {
  margin-right: 0px;
}

#video-block {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video-block video {
  min-height: 100%;
  min-width: 100%;
}

#video-filter {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
header {
  width: 100%;
  position: relative;
  color: #fff;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 170px;
  }
}


.block {
  margin-top: 50px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
}

.tariff-button {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-decoration: none;
  padding: 22px 20px;
  width: 220px;
  max-width: 100%;
  text-align: center;
  border: 2px solid #f14d34;
  border-radius: 5px;
  letter-spacing: 0.06em;
  transition: 300ms;
  margin: 0 auto;
  margin-bottom: 55px;
}

.tariff-button:hover {
  color: #fff;
  text-decoration: none;
  background: #f14d34;
}

.line-text {
  font-size: 12px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.7);
}

.line {
  border-left: 3px solid #f14d34;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  min-height: 80px;
  height: 100%;
}

.line a {
  color: #f14d34;
}

.line-block {
  margin-bottom: 30px;
}
.competency{
  width: 90%;
  margin: 0 auto;
}
.competency-h1{
  font-size:16px;
  max-width:80%;
}
.competency-info{
  font-size:12px;
  color: #050C33;
}
.competency-body{
  display:flex;
  flex-direction: row;
  margin-left:0;
  margin-right: 0;
}
.competency-block{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.competency-li{
  max-width:45%;
  min-width:40%;
  margin-top:20px;
  justify-content: center;
}
.competency-img{
  position:relative;
  top:0;
  width:50px;
  left: -14%;
}
.competency-text{
  color:#9e9ea0;
  font-size: 12px;
}
@media screen and (min-width:768px){
  .competency-h1{
    font-size:42px;
    max-width:50%
  }
  .competency-body{
    display: flex;
    flex-direction: column;
    margin-right: 370px;
    gap:calc(20%/3);/*отступ между столбцами и строками */
  }
  .competency-info{
    font-size:16px;
    max-width:40%
  }
  .competency-block{
    flex-direction: row;
  }
  .competency-li{
    max-width:20%;
    padding-right: 2%;
    font-size: 16px;
    font-weight: 500;
  }
   .competency-text{
      font-size:14px;
  }
  .competency-img{
    left: -14%;
    display:flex;
    height: 82px;
    width: auto;
  }
}
.podd{
  width:100%;
  box-shadow:inset 0 -820px #141622; /*тень*/
  position:relative
}
.podd-h1{
  font-size:16px;
  max-width:50%;
  margin:40px auto 20px;
  text-align:center;
}
.podd-block{
  display:flex;
  flex-direction:column;
  max-width:90%;
  margin:0 auto;
}
.podd-unblock{
  border-radius:3px;
  box-shadow:10px 5px 5px #f7f7f7;
  position:relative;
}
.podd-unblock-2{
  background-color:#fff;
  position:relative;
}
.podd-num{
  font-size:8px;
  margin-top:10px;
}
.podd-head{
  font-size:14px;
  margin:10px 0;
}
.podd-info{
  font-size:10px;
  max-width:90%;
  margin-bottom:40px;
  z-index:5;
  position:relative;
  color:#9e9ea0;
}
.podd-img{
  position:absolute;
  right:0;
  bottom:0;
  z-index:4;
  height:57px

}
.podd-img img{height:57px;}
.podd-contai{
  display:flex;
  flex-direction:column;
  max-width:90%;
  margin:0 auto;
}
.pcontai{
  padding-bottom:80px;
}
.pcontai-h1{
  font-size:16px;
  max-width:65%;
  color:#fff;
}
.pcontai-block{
  display:flex;
  flex-direction:column;
  gap:20px
}
.pcontai-unblock{
  display:flex;
  align-items:center;
  gap:10px
}
.pcontai-line{
  height:68px;
  width:1px;
  background-color:#f14d34;
  border:#F14D34 1px solid;
}
.pcontai-info{
  font-size:10px;
  max-width:50%;
  line-height:1.5;
  color:#9e9ea0
}
.color{
  color:#f14d34;
}
.back{
  max-width:80%;
}
.img1{
  position:relative;
  left:-30%;
  bottom:-35px;
  display:flex;
  align-items:flex-end;
}
.img1 img, .img2 img{
  width: 100%;
}
.img2{
  position:absolute;
  bottom:0;
  right:0;
}
@media screen and (min-width:768px){
  .podd{
    box-shadow:inset 0 -800px #141622;
  }
  .podd-h1{
    font-size:42px;
    max-width:30%;
    margin:182px auto 50px;
  }
  .podd-block{
    flex-direction:row;
    flex-wrap:wrap;
    gap:5px;
    justify-content:space-between;
    row-gap:5px;
  }
  .podd-unblock{
    max-width:22%;
    padding:10px;
  }
  .podd-unblock-2{
    max-width:22%;
    padding:10px;
  }
  .podd-num{
    font-size:12px;
  }
  .podd-head{
    font-size:18px;
  }
  .podd-info{
    font-size:16px;
  }
  .podd-contai{
    flex-direction:row-reverse;
    justify-content:space-between;
  }
  .pcontai{
    padding:50px 0 100px;
    margin-top:50px;
    max-width:50%;
  }
  .pcontai-h1{
    font-size:42px;
    max-width:75%;
  }
  .pcontai-block{
    flex-direction:row;
    flex-wrap:wrap;
  }
  .pcontai-unblock{
    max-width:45%;
  }
  .pcontai-line{
    height:110px;
  }
  .pcontai-info{
    font-size:16px;
    max-width:90%;
  }
  .img1{
    left:-25%;
    bottom:-35%;
  }
  .img2{
    max-width:40%;
    width:auto;
    bottom:0px;
  }
}
tariffs {
  padding-bottom: 50px;
  background: url("./img/icon-bg.svg") no-repeat right top, #fff;
  background-size: cover;
}

@media (min-width: 768px) {
  .tariffs {
    padding-bottom: 100px;
    background-size: 58%;
  }
}

.tariffs h2 {
  font-size: 24px;
  padding-top: 105px;
  text-align: center;
  color: #000;
  margin-bottom: 40px
}

@media (min-width: 768px) {
  .tariffs h2 {
    font-size: 42px;
    padding-top: 160px;
    margin-bottom: 65px
  }
}

.tariff-unblock {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 30px 15px;
  background: #fff;
  margin: 0 auto;
  transition: all 500ms;
  transform-origin: center;
  width: 420px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .tariff-unblock {
    max-width: 500px;
    width: auto;
    padding: 70px 20px 60px;
  }
}

.tariffs,.container {
  margin-bottom: 30px;
  align-items: flex-start;
}

.tariff-col:hover .tariff-unblock,
.default-tariff .tariff-unblock {
  transform: none;
  z-index: 15;
  box-shadow: 0 4px 60px rgba(150, 150, 150, .3);
}

@media (min-width: 768px) {
  .tariff-col:hover .tariff-unblock,
  .default-tariff .tariff-unblock {
    transform: scale(1.1);
  }
}

.tariff-col:hover~.default-tariff .tariff-unblock {
  transform: none;
  z-index: 0;
  box-shadow: none;
}

.tariff-col {
  margin-bottom: 15px;
}

.tariff-h4{
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: bold;
  color: #f14d32;
  line-height: 1.3;
  padding-bottom: 29px;
}

.tariffs li {
  margin-bottom: 18px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 100;
  position: relative;
  color: #4e5972;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .tariffs li {
    font-size: 16px;
  }
}

.tariffs ul {
  padding-left: 15px;
  list-style-image: url("./img/Vector.svg");
}

.contact-button {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #f14d34;
  text-decoration: none;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  border: 1px solid #f14d34;
  border-radius: 5px;
  letter-spacing: 0.06em;
  transition: 300ms;
  margin: 0 0;
  background-color: rgba(0, 0, 0, 0);
}

.tariff-unblock:hover .contact-button,
.default-tariff .contact-button {
  color: #fff;
  background: #f14d34;
}

.tariff-col:hover~.default-tariff .contact-button {
  color: #f14d34;
  background: rgba(0, 0, 0, 0);
}

.no {
  text-align: center;
  color: #828a9b;
}

.no a {
  color: #000;
  font-size: 12px;
  text-decoration: underline;
  transition: color 300ms;
}

.no a:hover {
  color: #f14d34;
  text-decoration: none;
}

.task {
  padding-top: 100px;
  font-family: Montserrat;
}
.task-description {
  margin-bottom: 55px;
  font-weight: 500;
  font-size: 16px;
  color: #4f5a73;
}

.task-block {
  margin-bottom: 60px;
}
.task-body {
  font-weight: 500;
  font-size: 16px;
  color: #4f5a73;
}

.task-time {
  font-size: 32px;
  margin-top: -20px;
  color: #050c33;
  font-weight: bold;
}

.task-icon {
  position: relative;
  margin-bottom: 30px;
}
.task-img {
    display: block;
    width:50px;
    position:relative;
    top:0;

}
.task-h1{
  font-size:16px;
  max-width:60%;
  text-align:center;
}
@media (min-width: 768px){
.task-h1{
  font-size:36px;
  max-width:30%;
}
.task-img {
  display:flex;
  height: 82px;
  width: auto;
}
}
